body {
    font-family: arial;
    background-color: rgb(238, 238, 245);
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: black;
}

button{
    background-color: rgb(74, 177, 74);
    color: white;
    margin: 20px;
    padding: 20px;
    border: none;
}